.gameboard {
  width: 700px;
  padding: 50px;
  border: 1px solid red;
  margin: 100px;
  background-color: #e4dccf;
}
.display {
  border: 2px solid #000;
  padding: 20px;
  text-align: right;
  font-size: 16pt;
  font-weight: bold;
  background-color: #a5b7a2;
  margin-top: 15px;
}

.target,
.moves {
  background-color: #3d3d3d;
  padding: 10px;
  text-align: center;
  color: #fff;
  height: 50px;
}

.game-button {
  padding: 20px;
}
.game-button button {
  width: 100px;
  height: 100px;
  font-size: 20pt;
  font-weight: bold;
}

.game-button .reset {
  background-color: #c62e2e;
}
.game-button .add.btn,
.game-button .add.btn:hover {
  background-color: #006400;
  color: #fff;
}
.game-button .subtract.btn,
.game-button .subtract.btn:hover {
  background-color: #b22222;
  color: #fff;
}
.game-button .sum.btn,
.game-button .sum.btn:hover {
  background-color: #006400;
  color: #fff;
}
.game-button .append.btn,
.game-button .append.btn:hover {
  background-color: #1181ff;
}
.game-button .reverse.btn,
.game-button .reverse.btn:hover {
  background-color: #ffff00;
  color: #000;
}
.game-button .multiply.btn,
.game-button .multiply.btn:hover {
  background-color: #ffa500;
}

.game-button .divide.btn,
.game-button .divide.btn:hover {
  background-color: #8b008b;
}

.game-button .btn {
  opacity: 0.7;
}
.game-button .btn:hover {
  opacity: 1;
}

.game-status {
  background-color: #3d3d3d;
  padding: 10px;
  text-align: center;
  color: #fff;
  height: 50px;
}
.game-status.won {
  background-color: lime;
  color: #000;
}
.game-status.lost {
  background-color: darkred;
  color: #fff;
}
